{{#block "header"}}

<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife Tracker {{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
{{/block }}
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs"  >
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="">Record animal sightings</a></li>
                <li role="presentation"><a href="">View sighting</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <!--begin main template-->
    <div class="col-md-12" id="out">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}